*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px !important;
    color:#3B3B3B !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none !important;
}

.weui-toptips {
    z-index: 1051;
    font-size: 2.8em !important;
    height: 70px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 50px;
    border-radius: 0.1em;
    width: 75%;
    margin: auto 12.5%
}
