<!DOCTYPE html>
<html lang="en">
<head>
    <title>首件检验登记详情-精工云MES系统移动端</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/JG/Content/jquery/weui/style/weui.min.css" rel="stylesheet" />
    <link href="/JG/Content/jquery/jquery-weui/css/jquery-weui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/JG/Content/css/bootstrap.min.css">
    <link href="/JG/Content/css/Global.css" rel="stylesheet" />
    <link href="/JG/Content/jquery/jquery-weui/css/icon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/JG/Content/css/MobileFirstCheckoutDetails.css?v=1">

    <script src="/JG/Content/jquery/jquery-3.2.1.min.js"></script>
    <script src="/JG/Content/LocalConfigs.js"></script>
    <script src="/JG/Content/LocalUserInfo.js"></script>
    <script src="/JG/Content/Utils.js?v=1"></script>
</head>
<body>
    <div id="ContentContainer" class="content_container">
        <!--header部分-->
        <header class="header">
            <div class="empty">
                <span id="stations"></span>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item" style="position:absolute;">
                    <span style="font-size:16px;padding-left: 10px;" class="icon icon-109 f-white" onclick="javascript:location.href='/JG/Quality/MobileFirstCheckout.html'">
                        返回
                    </span>
                </div>
                <div class="weui-flex__item" style="text-align: center;">首件检验登记详情</div>
                <div class="weui-flex__item" style="position:absolute;right:10px;">
                    <span @click="AddCheckoutData"   id="Rewrite"><img src="/JG/Content/images/compile.png" alt="" style="width:20px;"></span>
					<span @click="SaveData"  style="display:none" id="SaveData"><img src="/JG/Content/images/save.png" alt="" style="width:20px;"></span>
                </div>
            </div>
        </header>

        <!--解决浮动空内容div-->
        <div class="empty_div"></div>


        <!--主体部分-->
        <div id="MainPage" v-cloak>
            <div class="task_code">
                <div class="task_title" style="margin-top: 10px;border-bottom: 1px solid #F3F3F3;">
                    <div style="display: inline-block;padding-left: 10px;padding-right: 10px;width:10%;">
                        <img style="margin-top: -10px;" src="/JG/Content/images/1557739033(1).png" alt="">
                    </div>
                    <div style="display: inline-block;width:88%;">
                        <p style="margin: 0 0 0px;">

                            <span>单据号：{{DetailsData.SJJY_DJH}}</span>
<!--                            <span style="margin-left: 10px;">{{DetailsData.CheckoutTime}}</span>-->
                        </p>
<!--                        <p>-->
<!--                            <span>{{DetailsData.MaterialCode}}</span>/-->
<!--                            <span>{{DetailsData.MaterialName}}</span>-->
<!--                        </p>-->
                    </div>
                </div>

                <div class="task_container">
                    <div class="text_title">
                        <span class="active_detail">详情</span>
                        <span>检验项目</span>
                    </div>

                    <div class="text_div">
                        <!--详情部分-->
                        <div class="text_bottom detail_checkout">
                            <div class="text_content">
                                <div>
                                    <span>生产线</span>
                                    <span style="display: inline-block; word-break: break-all;">{{DetailsData.ProductionLine}}</span>
                                </div>
                                <div>
                                    <span>任务单号</span>
                                    <span style="display: inline-block; word-break: break-all;">{{DetailsData.TaskCode}}</span>
                                </div>
                                <div>
                                    <span>检验方案</span>
                                    <span style="display: inline-block; word-break: break-all;">{{DetailsData.CheckoutScheme}}</span>
                                </div>
                                <div>
                                    <span>订单号</span>
                                    <span style="display: inline-block; word-break: break-all;">{{DetailsData.OrderCode}}</span>
                                </div>
                                <div>
                                    <span>送检人</span>
                                    <span style="display: inline-block; word-break: break-all;">{{DetailsData.InspectPerson}}</span>
                                </div>
                                <div>
                                    <span>检验人</span>
                                    <span style="display: inline-block; word-break: break-all;">{{DetailsData.CheckoutPerson}}</span>
                                </div>
                            </div>
                            <div class="img_content">
                                <p>附件图片</p>
                                <div class="img_list">
                                	<img v-for="(item,index) in ImgData" :src='item.path' alt="" style="width:60px;">
                                    <!--<span v-for="(item,index) in ImgData">
                                        <img :src="item.path" alt="">
                                    </span>-->
                                </div>
                            </div>
                            <div class="checkout_result">
                                <span>首检结果</span>
								<span id="spanhgbz"  style="width:100px;line-height: 30px;color: #ffffff;background-color: #259B24;text-align: center;">{{DetailsData.YesOrNoQualified==1?"合格":"不合格"}}</span>
								<span id="spanhgbz2"  style="width:190px;display:none;"><input type='radio' id='sjhg'   name='sjhgbz' value='合格'>合格
										<input type='radio' id='sjhg'  name='sjhgbz' value='不合格' style='margin-left: 10px;'>不合格
								</span>
                            </div>
                        </div>
                        <!--检验项目部分-->
                        <div class="checkout_list">
                            <div class="checked_title">
                                <span v-for="(item,index) in FirstCheckoutData" @click="SwitcherData(item)">{{item.JCXMFL_FLMC}}</span>
                            </div>

                            <!--树形数据结构-->
                            <div class="checked_title_item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/JG/Content/jquery/jquery-weui/js/jquery-weui.min.js"></script>
<script src="/JG/Content/bootstrap.min.js"></script>
<script src="/JG/Content/vue-v2.34.js"></script>
<script src="/JG/Content/Common.js"></script>
<script type="text/javascript" src="/JG/Content/TierPullDown2.js"></script>


<script type="text/javascript">
		var SavaObls={};
    var vmPage = new Vue({
        el:"#ContentContainer",
        data:{
            FormData:{
                ClassifyItemID:"",     //检验分类项ID
                SchemeID:$.getUrlParam("SchemeID"),    //首件检验ID
                FirstInspectionID:$.getUrlParam("FirstInspectionID"),    //检验方案ID
            },
            DetailsData:"",     //接收MobileFirstCheckout.html页面传过来的值
            ImgData:[],    //图片集合
            FirstCheckoutData:[],     //检验分类项集合
            FirstCheckoutItemData:[],    //检验项目明细集合
			UpdateIsState:"",
        },
        mounted:function(){
            var currSelf = this;
            currSelf.Initialize();       //初始化

            //点击切换颜色
            $(".text_title>span").each(function (index) {
                $(this).on("click", function () {
                    $(".text_title>span").eq(index).addClass("active_detail").siblings().removeClass("active_detail");
                    $(".text_div>div").hide();
                    $(".text_div>div").eq(index).show();
                })
            })
        },
        methods:{
            //点击编辑按钮方法
            AddCheckoutData:function(){
                // window.location.href = "/JG/Quality/MobileFirstItemInspection.html";
				 var currSelf = this;
				currSelf.UpdateIsState=1;
				 $.toptip("已允许修改", "success");
				$("#Rewrite").hide();
				$("#SaveData").show();
				$("#spanhgbz").hide();
				$("#spanhgbz2").show();
				 $("input[type=radio]").each(function () {
					$(this).attr("disabled", false);
				 })
				$("input[type=text]").each(function () {
					$(this).attr("readonly", false);
				})
				var hg= $.parseJSON(localStorage.getItem("jsonStr")).SJJY_NO_CODE==1?"合格":"不合格";
				$("input[name='sjhgbz'][value="+hg+"]").attr("checked",true);
            },

            //初始化方法
            Initialize:function(){
                var currSelf = this;
                currSelf.DetailsData = JSON.parse(window.localStorage.getItem("userInfo"));    //获取MobileFirstCheckout.html页面传过来的数据集合
                currSelf.UpdateIsState=0;
                 //保存数据到localStorage
               		var jsonStr = JSON.stringify({		
							//"CPJYBZ_DJH":currSelf.DetailsData.CheckoutTypeCode,//
							"SJJY_RWDH": currSelf.DetailsData.TaskCode, //任务单号
							"SJJY_DDH": currSelf.DetailsData.OrderCode, //订单号
							"SJJY_CPBM": currSelf.DetailsData.MaterialCode, //产品编码
							"JGMES_ZLGL_SJJY_ID": currSelf.DetailsData.SchemeID, //检验标准主表 ID
							"JGMES_ZLGL_CPJYBZ_ID":currSelf.DetailsData.FirstInspectionID,//检测方案ID
							"SJJY_CPMC": currSelf.DetailsData.MaterialName, //产品名称
							"SJJY_NO_CODE": currSelf.DetailsData.YesOrNoQualified, //是否合格名称
                            "SJJY_CXBM":currSelf.DetailsData.ProductionLineBM,//当前产线编码
							"SJJY_SJR": currSelf.DetailsData.InspectPerson, //送检人
							"SJJY_JYR": currSelf.DetailsData.CheckoutPerson, //检验人
							"SJJY_FJ":currSelf.DetailsData.ImgNameData,//检验照片
						});
						localStorage.setItem("jsonStr", jsonStr)
                
                
                //获取图片集合循环获取当个图片显示
               	currSelf.ImgData=JSON.parse(currSelf.DetailsData.ImgNameData);
                //根据首件检验ID请求对应的检验分类项
                if(currSelf.FormData.FirstInspectionID){
                    //获取检验分类项接口
                    $.showLoading();
                    $.ajax({
                        type: "post",
                        async:false,
                        url: LocalConfig.SrvPath + "/jgmes/jgmesFirstInspectionAction!getInspectionItemRootClassify.action",
                        data: {
                            "userCode": LocalUserInfo.GetUserInfo().UserCode,
                            "mac": LocalUserInfo.GetUserInfo().Mac,
                            "jybzID":currSelf.FormData.FirstInspectionID,    //检验方案检验ID
                        },
                        dataType: "json",
                        success:function(result){
                            var res = ReturnData(result);
                            console.log(res);
                            if(res.IsSuccess){
                                if(res.Data){
                                    currSelf.FirstCheckoutData = res.Data;
                                    currSelf.FormData.ClassifyItemID = res.Data[0].JGMES_ZLGL_JCXMFL_ID;
                                    currSelf.$nextTick(function(){
                                        $(".checked_title>span:first-child").addClass("checked_title_span_show");
                                        $(".checked_title>span").each(function (index) {
                                            $(this).on("click", function () {
                                                $(".checked_title>span").eq(index).addClass("checked_title_span_show").siblings().removeClass("checked_title_span_show");
                                                // $(".checked_title_item>div").hide();
                                                // $(".checked_title_item>div").eq(index).show();
                                            })
                                        })
                                    });
                                   titleOne="{";
                                    //alert(currSelf.FormData.FirstRootId);
                                    for(var i=0;i<res.Data.length;i++){
//                              		var titleOneStr="{\""+res.Data[i].JGMES_ZLGL_JCXMFL_ID+"\":\"\"}";
//	                                  	titleOne.push(titleOneStr);
										if((i+1)==res.Data.length){
		                                  	titleOne+='"'+res.Data[i].JGMES_ZLGL_JCXMFL_ID+'":""';
		                                  }else{
		                                  	titleOne+='"'+res.Data[i].JGMES_ZLGL_JCXMFL_ID+'":"",'
		                                  }
	                                    }
                                    titleOne+='}';
                                    if(!localStorage.getItem("jsonStrDetail")){
                                    	localStorage.setItem("jsonStrDetail",titleOne);
                                    }
                                    // if(localStorage.getItem("jsonStrDetail")){
                                    // 	var jsonArray=$.parseJSON(localStorage.getItem("jsonStrDetail"));
                                    // 	for(var b in jsonArray){
                                    // 		currSelf.xixihah(b)
                                    // 	}
                                    // }
                                   }
                                    
                                }else {
                                    var showMsg = "没有相关的首检信息!可点击添加";
                                    $.toptip(showMsg, "warning");
                                }
                           
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.alert("请求失败" + errorThrown);
                        },
                        complete: function () {
                            //当数据加载完成隐藏加载弹窗
                            $.hideLoading();
                        }
                    });
                }


                //根据检验方案ID和检验项目分类ID请求对应的检验项目明细
                if(currSelf.FormData.SchemeID){
                    //获取字表信息接口
                    $.showLoading();
                    $.ajax({
                        type: "post",
                        url: LocalConfig.SrvPath + "/jgmes/jgmesFirstInspectionAction!getEffectiveProductStandardChild.action",
                        data: {
                            "userCode": LocalUserInfo.GetUserInfo().UserCode,
                            "mac": LocalUserInfo.GetUserInfo().Mac,
                            "sjzbId":currSelf.FormData.SchemeID,    //首件检验ID
                            "rootId":currSelf.FormData.ClassifyItemID,    //检验分类项ID
                        },
                        dataType: "json",
                        success:function(result){
                            var res = ReturnData(result);
                            console.log(res);
                            if(res.IsSuccess){
                                if(res.Data&&res.Data.length>0){
                                    currSelf.FirstCheckoutItemData = res.Data;
                                    //添加无级树
                                    $(".checked_title_item").html(forTree(currSelf.FirstCheckoutItemData));
									//initData();
									 $("input[type=radio]").each(function () {
										$(this).attr("disabled", true);
									 })
									$("input[type=text]").each(function () {
										$(this).attr("readonly", true);
									 })
                                }else {
//                                  var showMsg = "没有相关的检验项目信息!";
//                                  $.toptip(showMsg, "warning");
                                }
                            }else {
                                $.toptip(res.message, "error");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.alert("请求失败" + errorThrown);
                        },
                        complete: function () {
                            //当数据加载完成隐藏加载弹窗
                            $.hideLoading();
                        }
                    });
                }
            },

            //切换检验分类项时数据切换方法
            SwitcherData:function(val){
                var currSelf = this;
                currSelf.FirstCheckoutItemData = [];
                str="";

                currSelf.FormData.ClassifyItemID = val.JGMES_ZLGL_JCXMFL_ID;
                if(currSelf.FormData.ClassifyItemID){
                    //获取字表信息接口
                    $.showLoading();
                    $.ajax({
                        type: "post",
                        url: LocalConfig.SrvPath + "/jgmes/jgmesFirstInspectionAction!getEffectiveProductStandardChild.action",
                        data: {
                            "userCode": LocalUserInfo.GetUserInfo().UserCode,
                            "mac": LocalUserInfo.GetUserInfo().Mac,
                            "sjzbId":currSelf.FormData.SchemeID,    //首件检验ID
                            "rootId":currSelf.FormData.ClassifyItemID,    //检验分类项ID
                        },
                        dataType: "json",
                        success:function(result){
                            var res = ReturnData(result);
                            console.log(res);
                            if(res.IsSuccess){
                                if(res.Data&&res.Data.length>0){
                                    currSelf.FirstCheckoutItemData = res.Data;
                                    $(".checked_title_item").html(forTree(currSelf.FirstCheckoutItemData));
									if(currSelf.UpdateIsState==0){
										$("input[type=radio]").each(function () {
											$(this).attr("disabled", true);
										 })
										$("input[type=text]").each(function () {
											$(this).attr("readonly", true);
										 })
									 }
									for(var key in SavaObls){
										$("input[name='"+key+"'][value="+SavaObls[key][1]+"]").attr("checked",true); 
										if(SavaObls[key].length>2){
											$("input[name='"+key+"s']").val(''+SavaObls[key][2]+'');
										}
									} 
                                }else {
									 $(".checked_title_item").html(" ");
//                                  var showMsg = "没有相关的首检信息!可点击添加";
//                                  $.toptip(showMsg, "warning");
                                }
                            }else {
                                $.toptip(res.message, "error");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.alert("请求失败" + errorThrown);
                        },
                        complete: function () {
                            //当数据加载完成隐藏加载弹窗
                            $.hideLoading();
                        }
                    });
                }
            },
			//保存
			SaveData:function(){
				// window.location.href = "/JG/Quality/MobileFirstItemInspection.html";
				var currSelf = this;
				var JGMES_ZLGL_SJJY_ID=currSelf.DetailsData.SchemeID;
				currSelf.UpdateIsState=0;
				var jsonTab=new Array();
				var jsonStr=$.parseJSON(localStorage.getItem("jsonStr"));
				var hg= jsonStr.SJJY_NO_CODE==1?"合格":"不合格";
				//$("input[name='sjhgbz'][value="+hg+"]").attr("checked",true);
				var hgnow=$(':radio[name="sjhgbz"]:checked').val();
				if(hgnow!=hg){
					hgnow=hgnow=='合格'?1:0;
					jsonStr.SJJY_NO_CODE=hgnow;
					localStorage.setItem("jsonStr",JSON.stringify(jsonStr));
				}
				for(var b in SavaObls){
					var ObjectJson={};
					ObjectJson["JGMES_ZLGL_SJJY_ID"]=JGMES_ZLGL_SJJY_ID;
					ObjectJson["JGMES_ZLGL_CPJYBZZB_ID"]=SavaObls[b][0];
					ObjectJson["JGMES_ZLGL_SJJYZB_ID"]=b;
					//ObjectJson["SJJYZB_JYFAZBZJID"]=c;
						if(SavaObls[b][2]=="合格"){
							ObjectJson["SJJYZB_HG_CODE"]="1";
						}else if(SavaObls[b][2]=="不合格"){
							ObjectJson["SJJYZB_HG_CODE"]="0";
						}
						if(SavaObls[b].length>3){
							if(SavaObls[b][3]==""){
								$.hideLoading();
								msg = '子表检验值不能为空!';
								$.toptip(msg, "warning");
								return;
							}
							ObjectJson["SJJYZB_JYZ"]=SavaObls[b][3];
						}
					jsonTab.push(ObjectJson);
				}
				$.ajax({
				    type: "post",
				    url: LocalConfig.SrvPath + "/jgmes/jgmesFirstInspectionAction!doSaveFirstInspection.action",
				    data: {
				        "userCode": LocalUserInfo.GetUserInfo().UserCode,
				        "mac": LocalUserInfo.GetUserInfo().Mac,
				        "jsonStr":localStorage.getItem("jsonStr") ,       //主表
						"jsonStrDetail": JSON.stringify(jsonTab)   //子表
				    },
				    dataType: "json",
				    success:function(result){
						currSelf.DetailsData.YesOrNoQualified=hgnow;
						$.toptip(" 保存成功", "success");
						$("#Rewrite").show();
						$("#SaveData").hide();
						$("#spanhgbz").show();
						$("#spanhgbz2").hide();
						 $("input[type=radio]").each(function () {
							$(this).attr("disabled", true);
						 })
						$("input[type=text]").each(function () {
							$(this).attr("readonly", true);
						})
						var res = ReturnData(result);
						console.log(res);
						if(res.IsSuccess){
							if(res.Data&&res.Data.length>0){
								currSelf.FirstCheckoutItemData = res.Data;
								//添加无级树
								forTree(currSelf.FirstCheckoutItemData);
								initData();
							}
				        }else {
				            $.toptip(res.message, "error");
				        }
				    },
				    error: function (XMLHttpRequest, textStatus, errorThrown) {
				        $.alert("请求失败" + errorThrown);
				    },
				    complete: function () {
				        //当数据加载完成隐藏加载弹窗
				        $.hideLoading();
				    }
				});
				
			},
            xixihah:function(val){
            	var currSelf = this;
            	var b=val;
            	$.ajax({
	                type: "post",
	                url: LocalConfig.SrvPath + "/jgmes/jgmesFirstInspectionAction!getEffectiveProductStandardChild.action",
	                data: {
	                    "userCode": LocalUserInfo.GetUserInfo().UserCode,
	                    "mac": LocalUserInfo.GetUserInfo().Mac,
	                    "sjzbId":currSelf.FormData.SchemeID,    //首件检验ID
	                    "rootId":b,    //检验分类项ID
	                },
	                dataType: "json",
	                success:function(result){
						var res = ReturnData(result);
						console.log(res);
						if(res.IsSuccess){
							if(res.Data&&res.Data.length>0){
								currSelf.FirstCheckoutItemData = res.Data;
								//添加无级树
								forTree(currSelf.FirstCheckoutItemData);
								initData();
							}
	                    }else {
	                        $.toptip(res.message, "error");
	                    }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    $.alert("请求失败" + errorThrown);
	                },
	                complete: function () {
	                    //当数据加载完成隐藏加载弹窗
	                    $.hideLoading();
	                }
	            });
            },
        },
    });

	function changeSave(val){
				var currSelf = this;
				//var JsonObChange=localStorage.getItem("JsonObChange");
				var ls=new Array();
				console.log(val);
				ls.push(val.title)
				ls.push(val.id);
				ls.push($(':radio[name="'+val.id+'"]:checked').val());
				if($("input[name='"+val.id+"s']").val()){
					ls.push($("input[name='"+val.id+"s']").val());
				}
				SavaObls[val.id]=ls;
				console.log(SavaObls);
			};
</script>
</html>



<!--
var res = ReturnData(result);
	                    console.log(res);
	                    if(res.IsSuccess){
	                        if(res.Data&&res.Data.length>0){
	                            currSelf.FirstCheckoutItemData = res.Data;
	                            var StrDetail=$.parseJSON(localStorage.getItem("jsonStrDetail"));
	                                if(StrDetail||StrDetail[b]!=""){
		                                var strJson=new Array();
		                         		for(var i=0;i<res.Data.length;i++){
		                         			var root=res.Data[i];
		                                 	for(var j=0;j<root.childTreeDto.length;j++){
		                                 		var jroot=root.childTreeDto[j];
		                                 		if(jroot.data.length>0){
		                                 			for(var n=0;n<jroot.data.length;n++){
			                                 			if(n+1==jroot.data.length){
			                                 			    var StrArray=new Array();
			                                 			     StrArray.push('"'+jroot.data[n].values.JGMES_ZLGL_SJJYZB_ID+'"');
			                                 			    var one=jroot.data[n].values.SJJYZB_HG_CODE==1?"合格":"不合格";
			                                 			    StrArray.push('"'+one+'"');
//                                                          StrArray.push('"'+jroot.data[n].productInsStandardChildList[0].values.SJJYZB_JYZ+'"');
                                                            if(jroot.data[n].values.SJJYZB_JYZ!=""){
                                                            	StrArray.push('"'+jroot.data[n].values.SJJYZB_JYZ+'"');
                                                           	}
				                                 			strJson.push('"'+jroot.data[n].values.SJJYZB_JYFAZBZJID+'":['+StrArray+']');
			                                 			}else{
                                                            var StrArray=new Array();
                                                            StrArray.push('"'+jroot.data[n].values.JGMES_ZLGL_SJJYZB_ID+'"');
			                                 			    var one=jroot.data[n].values.SJJYZB_HG_CODE==1?"合格":"不合格";
			                                 			    StrArray.push('"'+one+'"');
			                                 			    if(jroot.data[n].values.SJJYZB_JYZ!=""){
                                                            	StrArray.push('"'+jroot.data[n].values.SJJYZB_JYZ+'"');
                                                           	}
                                                            strJson.push('"'+jroot.data[n].values.SJJYZB_JYFAZBZJID+'":['+StrArray+']');
			                                 			}
		                                 			}
		                                 		}else{
		                                 			if(j+1==root.childTreeDto.length){
                                                        var StrArray=new Array();
                                                        StrArray.push('"'+jroot.childTreeDto[0].data[0].values.JGMES_ZLGL_SJJYZB_ID+'"');
                                                        var one=jroot.childTreeDto[0].data[0].values.SJJYZB_HG_CODE==1?"合格":"不合格";
                                                        StrArray.push('"'+one+'"');
                                                         if(jroot.childTreeDto[0].data[0].values.SJJYZB_JYZ!=""){
                                                       		 StrArray.push('"'+jroot.childTreeDto[0].data[0].values.SJJYZB_JYZ+'"');
                                                        }
                                                        
			                                 			strJson.push('"'+jroot.childTreeDto[0].data[0].values.SJJYZB_JYFAZBZJID+'":['+StrArray+']');
		                                 			}else{
                                                        var StrArray=new Array();
                                                         StrArray.push('"'+jroot.childTreeDto[0].data[0].values.JGMES_ZLGL_SJJYZB_ID+'"');
                                                        var one=jroot.childTreeDto[0].data[0].values.SJJYZB_HG_CODE==1?"合格":"不合格";
                                                        StrArray.push('"'+one+'"');
                                                        if(jroot.childTreeDto[0].data[0].values.SJJYZB_JYZ!=""){
                                                       		 StrArray.push('"'+jroot.childTreeDto[0].data[0].values.SJJYZB_JYZ+'"');
                                                        }
                                                        
		                                 				strJson.push('"'+jroot.childTreeDto[0].data[0].values.SJJYZB_JYFAZBZJID+'":['+StrArray+']');
		                                 			}
		                                 		}
		                                 	}
		                         		}
		                         		
		                         		console.log(typeof(strJson));
		                         		var jsonzb=$.parseJSON('{'+strJson.toString()+'}');
									   	StrDetail[b]=jsonzb;
										localStorage.setItem("jsonStrDetail",JSON.stringify(StrDetail));
	                         		}
	                        }
--!>